.listmovie {
  max-width: 80rem;
  margin: 1rem auto;
  display: grid;
  grid-template-columns: 1fr ;
}

.listmovie article {
  max-width: 100%;
  padding: 1rem;
  border-radius: 4px;
  text-align: center; 
}

.listmovie h2 {
  color: #fff;
  text-align: center;
  margin-bottom: 1rem;
  display: block;
  font-size: 1.3rem;
}

.listmovie img {
  display: block;
  width: 100%;
  max-height: 400px;
  margin: 0 auto;
  object-fit: cover;

  border-radius: 1rem 1rem 0 0;
}

.loading {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.listmovie a {
  display: flex;
  justify-content: center;
  background-color: rebeccapurple;
  color: #fff;
  font-size: 1rem;
  padding: 1rem;
  border-radius: 0 0 1rem 1rem;
}


