.list-movie {
  max-width: 1300px;
  height: 300px;
  padding: 1rem;
  margin: 1rem auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0.5rem;
}

.list-movie article {
  max-width: 100%;
  padding: 1rem;
  border-radius: 4px;
  text-align: center;
}

.list-movie h3 {
  color: #fff;
  text-align: center;
  margin-bottom: 1rem;
  display: block;

}

.list-movie img {
  display: block;
  width: 100%;
  max-height: 400px;
  margin: 0 auto;
  object-fit: cover;

  border-radius: 1rem 1rem 0 0;
}

.loading{
   display: flex;
   justify-content: center;
   margin-top: 2rem;
}

.list-movie a {
  display: flex;
  justify-content: center;
  background-color: rebeccapurple;
  color: #fff;
  font-size: 1rem;
  padding: 1rem;
  border-radius: 0 0 1rem 1rem;
}

@media (max-width: 1100px) {
  .list-movie {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 600px) {
  .list-movie {
    grid-template-columns: 1fr ;
  }
}






