.mymovie{
   color: #FFF;
   margin-top: 2rem;
   text-align: center;
}

.mymovie h1{
   margin-bottom: 1.9rem;
   text-align: center;
}

.mymovie span{
   font-size: 1.1rem;
}

.mymovie ul{
   width: 600px;
   margin: auto;
   padding: 0 .3rem;
}

.mymovie ul li{
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-bottom:1.5rem ;
}

.mymovie div a{
   margin-right: 1rem;
   border: 1px solid #4863F7;
   border-radius: 4px;
   color: #FFF;
   padding: .5rem;
   transition: all 0.9s;
}

.mymovie div a:hover{
   background-color: #4863F7;
}

@media(max-width:600px){
   .mymovie ul{
      width: 350px;
   }
}

