header{
   width: 100%;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 1.1rem;
   background-color: #121214;
}
header .logo{
   font-size: 1.6rem;
   color: #FFF;
}

.logo span{
   color: #6833e4;
}
header .button{
   border: 1px solid #6833e4;
   color: #FFF;
   border-radius: 5px;
   padding: .5rem;
   transition: all 0.9s;
   text-transform: uppercase;
}

header .button:hover{
   background-color: #9466FF;
}

@media(max-width:600px){
   html{
      font-size: 88%;
   }
}
