header{
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 1.5rem 2rem ;
   background-color: #121214;
   border-bottom: 1px solid #ffffff61;
}

header .logo{
   font-size: 2rem;
   color: #FFF;
}

.logo span{
   color: #6833e4;
}

header .button{
   background-color: #6833e4;
   color: #FFF;
   font-size: 1rem;
   border-radius: 5px;
   padding: 1rem ;
   text-transform: uppercase;
}

header .button:hover{
   background-color: #9466FF;
}

